@use "global" as *;

.p-gnav{
    height: inherit;
    display: flex;
}
.p-gnav__item{
    height: inherit;
    display: flex;
    align-items: center;
}
.p-gnav__item{
    height: inherit;
    align-items: center;
}